* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Farro', sans-serif;
	font-family: 'Francois One', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Staatliches', cursive;
	font-family: 'Tourney', cursive;
	margin-right: 120px;
	background-image: url("img/bg-picture.svg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right 150px;
	background-size: 760px;
	position: relative;
}

header {
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 100px;
	background-color: white;
	opacity: 0.9;
}

.header {
	position: sticky;
	top: 0;
}

header p:nth-child(1) {
	font-family: 'Tourney';
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.04em;
	margin-right: 50px;
	margin-left: 120px;
}

header p:nth-child(2) {
	font-family: 'Staatliches';
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.03em;
}

header img {
	width: 238px;
	height: 54px;
	margin-left: 700px;
}

aside {
	margin-left: 120px;
	max-width: fit-content;
	font-family: 'Francois One';
	font-weight: 400;
	font-size: 20px;
	line-height: 48px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-right: 30px;
	float: left;
	position: sticky;
}

aside ul {
	list-style: none;
}

aside li {
	margin-bottom: 70px;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
}

aside a {
	text-decoration: none;
	color: black;
}

article {
	display: block;
	max-width: 785px;
	float: right;
}

section h2 {
	font-family: "Francois One", sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin: 20px 0 40px 0;
}

section h2>span {
	font-family: "Farro", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	vertical-align: top;
}

section p {
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 48px;
	margin-bottom: 70px;
}

section p span {
	background-color: #dadada;
}